.navbar {
    background-color: slategray;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 5;
    flex-direction: column;
    padding: 9;
    align-items: center;
}

.items {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 10;
}

.button {
    border-width: 1;
    border-color: black;
    background-color: aliceblue;
    color: black;
    padding: 8;
    border-radius: 5;
}